body {
    font-family: 'Arial', sans-serif;
    background-color: #d24040;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.weather-container {
    margin-top: 20px;
}

#weatherInfo {
    margin-top: 20px;
}